
    <div class="container">
    <div class="form-group">
        
        <label for="sname">UserName:</label>
        <input type="text" required ngModel name="username" #name="ngModel"  (change)="show(name)"  class="form-control" [(ngModel)] = "uname">
        <div class="alert alert-danger" *ngIf="!name.valid">Name is Compulssory.</div>
        
      
        <label for="add">Password:</label>
        <input type="password" class="form-control" name="pass" [(ngModel)] = "pass">
      
        
       
      
      <div class="text-center">

          <button (click)="showdata()" class="btn btn-primary">submit</button>
          
          </div>

    
  </div>
